@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@theme{
    --color-negro-950: #000;

    --color-azul-950: #0F2634; /**/
    --color-azul-900: #224457;
    --color-azul-850: #235067;

    --color-blanco-50: #ffffff;

    --color-verde-700: #05904f;
    --color-verde-600: #01cd6c;/**/
    --color-verde-500: #0add79;

    --color-gris-300: #bdbdbd;
    --color-gris-200: #dcdcdc;/**/
    --color-gris-100: #efefef;
    --color-gris-50: #fbfbfb;
    
    --color-rojo-700: #b01d1d;
    --color-rojo-600: #da2828;
    --color-rojo-500: #ed4646;

    --font-poppins: Poppins, "sans-serif";
}

body {
  margin: 0;
  font-family: poppins, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Estilos personalizados adicionales */
.sidebar-transition {
  transition: all 0.3s ease;
}